---
http_interactions:
- request:
    method: get
    uri: http://api.nbp.pl/api/exchangerates/rates/a/chf/?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"ONnoWWIpfmbgFSNxptDgalEaCfOTYUYUS+x3V5GEd0c="'
    body:
      encoding: ASCII-8BIT
      string: '{"table":"A","currency":"frank szwajcarski","code":"CHF","rates":[{"no":"190/A/NBP/2019","effectiveDate":"2019-10-01","mid":4.0116}]}'
  recorded_at: Tue, 01 Oct 2019 22:06:36 GMT
recorded_with: VCR 4.0.0
