<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3 main-content">
      <h1>start-up house</h1>

      <% if current_user %>
        <div>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </div>
      <%= render partial: 'rates' %>
      <% else %>
        <h2> Plz sign in</h2>
        <div>
          <%=link_to 'Sign In', new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>

